# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.temp

# Spark temp/output
metastore_db/
spark-warehouse/
